<?xml version='1.0' encoding='utf-8'?>
<widget xmlns="http://www.w3.org/ns/widgets" id="extensions:save-snapshot" version="1.4">
  <name>Save snapshot of the page</name>
  <author href="http://my.opera.com/DitherSky/blog/">Dither</author>
  <description xml:lang="en">For correct saving create «text/phf» MIME type (Settings->Preferences->Downloads->Add) with «htm» extension and "Save to disk" action.</description>
  <description xml:lang="ru">Для корректного сохранения создайте MIME-тип «text/phf» (Настройки->Расширенные->Загрузки->Добавить) с расширением «htm» и действием "Сохранить на диск".</description>
  <preference name="saveimages" value="true"/>
  <preference name="encodeb64" value="true"/>
  <preference name="debugmode" value="false"/>  
  <icon src="icons/icon.png"/>
  <!--<credit>icon.png by fasticon.com - non-comercial free license.</credit> -->
  <license href="http://www.apache.org/licenses/LICENSE-2.0">Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.</license>
</widget>
